#padre {
    display:grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    width: 50%;
    
}

#padre div  {
    border: solid 1px black;
}

img {
    min-width: 98px;
    min-height: 98px;
    max-width: 98px;
    max-height: 98px;
    

}

#general {
    display: flex;
    justify-content: space-around;
}

#fichaje{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%
}

#nuevoPerro{
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    border: solid 5px black;
}

#header {
    display: flex;
    justify-content: center;
}

p {
    
}